@model HomeAndDesPageDataViewModel

@{
    ViewData["Title"] = "Home Page";

    var currentTime = DateTime.Now.ToString("D");
}

@*If a Custom Design is available*@

@if (Model != null && Model.DesPageData != null && Model.DesPageData.Comps != null)
{
    <div id="canvas-container" class="canvas-container" style="background-image: url('@(Model.DesPageData.BgImageUrl ?? "")');" data-width="@Model.DesPageData.Width" data-height="@Model.DesPageData.Height">
        <div id="content">
            @foreach (var comp in Model.DesPageData.Comps)
            {
                @Html.Raw(RenderComponent(comp))
            }
        </div>
        @await Html.PartialAsync("Error")
    </div>
}

@*If no Design is available use deafualt view*@

else
{
    <div class="container container-center">
        <div id="loadingAnimation" class="loading-animation text-center mb-4">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="mt-2">Connecting to server...</p>
        </div>

        <div id="content" class="text-center" style="display: none;">
            <h1 class="display-4 mb-4" style="color: azure;">@ViewHelper.GetLanguage("Welcome")</h1>
            <div id="clock" class="clock">@currentTime</div>
            <div id="pv" class="touch-to-start">@ViewHelper.GetLanguage("TouchToStart")</div>
        </div>

        @await Html.PartialAsync("Error")
    </div>
}




@functions {
    public string RenderComponent(DesCompData comp)
    {
        switch (comp)
        {

            case DesCompDataGenericHtml htmlComp:
                return ViewHelper.RenderGenericHtmlComponent(htmlComp);

            case DesCompDataLang langComp:
                return ViewHelper.RenderLanguageButton(langComp, Step.WelcomePage.ToString());



            default:
                return string.Empty; // Unknown component type
        }
    }
}

<script>
    $(document).ready(function () {
        resizeComponents();
    });
</script>