@model Type

@{
    var modelProperties = Model.GetProperties();
    var viewModelType = ViewBag.ViewModel as Type;
    var viewModelProperties = viewModelType?.GetProperties();
    var filteredProperties = modelProperties.Where(vp => viewModelProperties.Any(mp => mp.Name == vp.Name));
    var action = ViewBag.Action;
    var dropDowns = ViewBag.DropDowns;
}

<form id="createForm">
    @foreach (var property in filteredProperties)
    {
        <div class="form-group">
            <label for="@property.Name">@property.Name</label>
            @if (dropDowns != null && dropDowns.ContainsKey(property.Name))
            {
                <!-- Render dropdown -->
                <select name="@property.Name" id="@property.Name" class="form-control">
                    <option value="">-- Select --</option>
                    @foreach (var item in dropDowns[property.Name])
                    {
                        <option value="@item.Oid">@item.Name</option>
                    }
                </select>
            }
            else
            {
                <!-- Render text input -->
                <input type="text" name="@property.Name" id="@property.Name" class="form-control" />
            }
        </div>
    }

    <button type="button" id="createButton">Create</button>
</form>


<!-- Other HTML code -->
@section Scripts {
  
}


